.parallax {
    /* The image used */
    background-image: url(../../images/Prallax2.jpg) !important;

    /* Full height */
    /* min-height: 100vh;  */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.parallax::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .75;
    top: 0%;
    left: 0%;
    z-index: -1;
}

.overlay {
    position: relative;
}

.overlay::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    top: 0%;
    left: 0%;
    transition: .4 all ease-in-out;
}

.overlay:hover::before {
    opacity: .3;
}